#main-nav li .menu-box{
	visibility:hidden;
}	
#main-nav li:hover .menu-box{
	visibility:visible;
}


.thumbnail-image{
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter:alpha(opacity=30);
}

#iv-content img{
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter:alpha(opacity=30);
	width:auto;
}
#iv-content img.next-image,#iv-content img.prev-image{
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter:alpha(opacity=30);
	
}


#iv-content img.next-image,#iv-content img.prev-image{
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter:alpha(opacity=30);
	
}

.thumbnail-image:hover,#iv-content img.current-image,#iv-content img.next-image:hover,#iv-content img.prev-image:hover{
	transition: opacity 1s linear;
	filter:alpha(opacity=100);
}


/*
CURSOR SETUP
*/
*{cursor:url(./images/cur_normal.png), default}
#thumb-chart .thumbnail-image:hover img:hover{cursor:url(./images/cur_plus.png) 27 27, default}
.current-image:hover{cursor:url(./images/cur_minus.png) 27 0, default}
.next-image:hover{cursor:url(./images/cur_right.png),default}
.prev-image:hover{cursor:url(./images/cur_left.png),default}