/*

#header{position:fixed;left:3%;width:94%;top:00px;
	z-index:200;
	height:46px;
	background:transparent url(./images/header_b.gif) no-repeat scroll bottom right;
	
	display:block}
	#header:hover {cursor:url(./images/cur_up.png) 30 0, default}
#header #sub-logo{
	z-index:220;
	margin-top:30px;
	width:213px;
	height:16px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	font:normal normal bold 14px/16px Arial, sans-serif;
	text-transform:uppercase;
	text-indent:-9999px;
	background:transparent url(./images/sub-logo.png) no-repeat scroll top left
	
}
#header #sub-logo a{width:100%;height:100%;display:block;overflow:hidden;position:relative}


*/

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
        
    }
}

#jqt {
	display:block; overflow:hidden;
	
	width:100%;
	min-height:100%;
	
}

#header #sub-logo  {
	width:75%;
	margin-right:50px;
	
	background-size:contain;
}
#main-nav {
	position: fixed;
	bottom:20px;
	width:100%;
}
#main-nav li#index-nav, #main-nav li#contact-nav, #main-nav li#about-nav{
	width:25%;
	background-size:contain;
}

#iphone-thumbs img {
	
}
#iphone-pages .image, #iphone-thumbs .image {
	visibility:hidden;
	position:absolute;
	width:100%;
	height:60%;
	top:20%;
	
	background-repeat:no-repeat;
	background-position:center center;
	background-size:contain;
	
	-webkit-animation-name: fadeOut;
	 -webkit-animation-duration: 1000ms;
	
}
#iphone-pages .image {
	width:80%;left:10%;
}
#iphone-thumbs #logo.image {
	visibility:visible;
	background-size:80px 80px;
}
#iphone-thumbs .image a {
	position:absolute;
	top:0;
	height:100%;
	width:5%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}
	#iphone-thumbs .image a.backlink {left:0;background-image:url(../images/cur_left.png);}
	#iphone-thumbs .image a.nextlink {right:0;background-image:url(../images/cur_right.png);}
	
#iphone-pages .image:target, #iphone-thumbs .image:target {
	visibility: visible;
	-webkit-animation-name: fadeIn;
	 -webkit-animation-duration: 500ms;
	
}
.next-image:hover{}
.prev-image:hover{}
/*

SETUP MAIN NAV 
#main-nav{width:100%;}
#main-nav li#index-nav{width:114px;background:transparent url(./images/menu-index.png) no-repeat scroll center left}
#main-nav li#contact-nav{width:140px;background:transparent url(./images/menu-contact.png) no-repeat scroll center left}
#main-nav li#about-nav{width:120px;background:transparent url(./images/menu-aboutpng.png) no-repeat scroll center left;border-right:1px solid #000}
#main-nav li{display:block;text-indent:-9999px;height:16px; width:33%;border-left:1px solid #000;background-size:contain;}
#main-nav li a{display:block;overflow:hidden;text-indent:-9999px;width:100%;height:100%;padding-top:5px;padding-bottom:5px;}
#main-nav li .menu-box{display:block;opacity:0;background:transparent url(./images/white80_120h.png) repeat-x scroll top left}
#main-nav li:hover .menu-box{
	
	display:block;
	opacity:1;
	width:402px;
	height:130px;
	margin-top:-154px;
	padding-top:10px;
	-webkit-transition:opacity 500ms ease-out;-moz-transition:opacity 500ms ease-out}
#main-nav li .menu-box:hover{display:block;opacity:1;}
#main-nav li .menu-box div{border-left:1px solid #000;
	padding-left:10px;
	text-indent:0;
	padding-top:4px;
	padding-bottom:6px;
	margin-left:10px;
	
	height:90px;
	padding-right:18px;
	position:relative;
}
#main-nav li#index-nav .menu-box{margin-left:-11px}
#main-nav li#contact-nav .menu-box{margin-left:-126px}
#main-nav li#about-nav .menu-box{margin-left:-267px}
#main-nav li .menu-box div ul strong{font:normal normal normal 13px/16px Georgia, serif;color:#000;margin-bottom:-16px;display:block}
#main-nav li .menu-box div ul li{border:0;margin-left:120px;text-indent:0;width:auto;display:block;float:none;padding-top:0;padding-bottom:0}
#main-nav li .menu-box div ul li a{color:#000;text-indent:0;font:italic normal normal 13px/16px Georgia, serif}
#main-nav li .menu-box div ul li a:hover{color:#555}

#main-nav li#contact-nav .menu-box div p a {text-indent:0; display:inline; color:black;}
#main-nav li#contact-nav .menu-box div p a:hover {color:#555;}

*/

body {
	-webkit-box-sizing: border-box;
    background:#fff;
    left: 0;
    min-height: 100%;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    z-index: 0;
    height:100%;
}
#footer {bottom:0;}
#centerlogo a img {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-94px;
	margin-top:-94px;
}



#main-nav {
	position:absolute;
	top:0;
	left:0;
}