/* MAIN ELEMENTS.
-------------------------------------------------------------------------- */

/* Header */
header{
	position:absolute;
	left:3%;
	top:1%;
	width:94%;
	height:2%;
	border-right:1px solid #000;
	display:block;
	z-index:80;
}
header h1#sub-logo{
	
	width:80%;
	height:100%;
	border-left:1px solid #000;
	border-right:1px solid #000;
	text-indent:-9999px;
	background:transparent url(../images/sub-logo.png) no-repeat scroll center left;
	background-size:contain;
}
header #sub-logo a{width:100%;height:100%;display:block;overflow:hidden;position:relative}


/* Footer */
footer {
	position:absolute;;
	display:block;
	overflow:hidden;
	width:94%;
	left:3%;
	bottom:8%;
	border-left:1px solid #000;
	z-index:200;
}
	footer nav {width:100%;bottom:4%;
	}
		footer nav ul li {
			display:block;
			float:left;
			width:30%;
			background-size:contain;
			border-right:1px solid #000;
			height:100%;
		}
			footer nav ul li a {
				height:2%;
				text-indent:-9999px;
				overflow:hidden;
				display:block;
				font-size:10px;
			}
	
nav ul li#index-nav{background:transparent url(../images/menu-index.png) no-repeat scroll center left}
nav ul li#contact-nav{background:transparent url(../images/menu-contact.png) no-repeat scroll center left}
nav ul li#about-nav{background:transparent url(../images/menu-aboutpng.png) no-repeat scroll center left;border-right:1px solid #000}
	
.thumbnails{
	width:96%;
	
	position:fixed;
	top:5%;
	left: 2%;
	height:85%;
	
	overflow:auto;
	
	
}

	.thumbnails .image-list {
		position:relative;
		overflow:hidden;
		width:100%;
		height:auto;
		z-index: 1; 
	}
	
	.thumbnails {
		pointer-events:none;
		display:none;
		visibility:hidden;
	}
	.thumbnails:target {
		pointer-events:auto;
		display:block;
		visibility:visible;
	}
	.image-list li  {
		display:block; float:left;
		margin-right:1%;
		margin-bottom:4%;
	}
	.image-list li.add_space_right {
		margin-right:6%;
	}
	.image-list li a img {height:20%; width:auto; }
	
	
.menu-page {
	z-index:400;
	visibility:hidden;
	pointer-events:none;
	position:absolute;
	left:3%;
	width:75%;
	bottom:13%;
	border-left:1px solid #000;
	padding-left:3%;
	
}
.menu-page:target {
	visibility:visible;
	pointer-events:auto;
}
	.menu-page nav {font-size:13px; line-height:16px;}