body[orient="portrait"] { property: value; } body[orient="landscape"] { property: value; } 


#main-nav li,#header #sub-logo {
	background-size:80%;
}

#content {
	width:96%;
	position:fixed;
	top:0%;
	left: 2%;
	height:80%;
	overflow:auto;
	margin-top:30px;
}


#content #thumb-chart {
		position:relative;
		overflow:hidden;
		width:100%;
		height:auto;
		z-index: 1; 
		padding-bottom:10px;
	}
	#thumb-chart .cat-holder {
		display:block; float:left;
		margin-left:6%;
		margin-bottom:10px;
	}
	#thumb-chart .cat-holder .thumbnail-image {
		margin-bottom:1%;
	}


#header {height:30px;}
#header #sub-logo {margin-top:14px;}
#footer {
	z-index:200;
	height:40px;
	
}

.cat-holder {overflow:hidden; height:54px;}
#wrapper.ipad .cat-holder{height:118px;}
.thumbnail-image{opacity:1;-webkit-transition:none}
/*
olika stora tumnaglar
skarpare text
*/
.thumbnail-image img {height:50px; width:auto;}
#wrapper.ipad .thumbnail-image img {height:110px; width:auto;}
#logobox.no-events{background-size:25%; background-repeat:no-repeat; background-position:center center;z-index:1500;}
#wrapper.ipad #logobox.no-events {background-size:60%;}


#main-nav li#index-nav{width:94px;}
#main-nav li#contact-nav{width:120px;}
#main-nav li#about-nav{width:100px;}

#main-nav li#index-nav .menu-box{margin-left:-11px}
#main-nav li#contact-nav .menu-box{margin-left:-106px}
#main-nav li#about-nav .menu-box{margin-left:-227px}
/*
#main-nav li .menu-box {
	display:none;
	opacity:0;
	width:402px;
	height:130px;
	margin-top:-154px;
	padding-top:10px;
}
**/
#main-nav li .menu-box{
	display:none;
	-webkit-transition:opacity 500ms ease-out;-moz-transition:opacity 500ms ease-out;
	height:186px;
	-webkit-transition:opacity 500ms ease-out;-moz-transition:opacity 500ms ease-out;
}
#main-nav li .menu-box.active{
	
	display:block;
	opacity:1;
	width:402px;
	height:130px;
	margin-top:-154px;
	padding-top:10px;
	-webkit-transition:none;
	display:block;
	opacity:1;
	width:402px;
	height:140px;
	
	
	padding-top:10px;
	
	margin-top:-144px;
	-webkit-transition:opacity 500ms ease-out;-moz-transition:opacity 500ms ease-out;
}
#main-nav li .menu-box div {
	width:285px;
	height:126px;
	
}
/*

*/
/*
PHOTO SWIPE BEGIN 
__________________________________________________________________________________*/

 
body.ps-active, body.ps-building 
{
    background: #fff;
    overflow: hidden;
}
body.ps-active * 
{ 
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    display: none;
}
body.ps-active *:focus 
{ 
    outline: 0; 
}

/* Document overlay */
div.ps-document-overlay 
{
    background: #fff;
}


/* UILayer */
div.ps-uilayer { 
    
    background: #fff;
    cursor: pointer;
    
}


/* Zoom/pan/rotate layer */
div.ps-zoom-pan-rotate{
    background: #fff;
}
div.ps-zoom-pan-rotate *  { display: block; }


/* Carousel */
div.ps-carousel-item-loading 
{ 
    background: url(../images/ajax-loader.gif) no-repeat center center; 
    /*background-size:25%;*/
}

div.ps-carousel-item-error 
{ 
    background: url(error.gif) no-repeat center center; 
}


/* Caption */
div.ps-caption
{ 
    background: #fff;
    color: #000;
    font-size: 13px;
    /*font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;*/
    text-align: center;
    display:none;
}
div.ps-caption *  { display: inline; }

div.ps-caption-bottom
{ 
    border-bottom: none;
    min-height: 44px;
}

div.ps-caption-content
{
	content:"";
    padding: 13px;
    display: none;
    opacity:0;
}


/* Toolbar */
div.ps-toolbar
{ 
    background: #fff;
    

    color: #000;
    font-size: 24px;
    /*font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;*/
    text-align: center;
    height: 44px;
    display: table;
    table-layout: fixed;
    padding-top:10px;
}
div.ps-toolbar * { 
    display: block;
}

div.ps-toolbar-top 
{
    border-top: none;
    display:none;
}

div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play
{
    cursor: pointer;
    display: table-cell;
}

div.ps-toolbar div div.ps-toolbar-content
{
	
    width: 24px;
    height: 24px;
    margin: 0 auto 0;
    /*
    background-image: url(../images/icons.png);*/
    background-repeat: no-repeat;
	background-size:contain;
	background-position:center center;
}

div.ps-toolbar-close div.ps-toolbar-content
{
	width:44px;
	height:44px;
    background-image:url(../images/cur_cross.png);
    
}

div.ps-toolbar-previous div.ps-toolbar-content
{
	background-image:url(../images/cur_left.png);
	
}

div.ps-toolbar-previous-disabled div.ps-toolbar-content
{
    opacity:0.5;
}

div.ps-toolbar-next div.ps-toolbar-content
{
    background-image:url(../images/cur_right.png);
}

div.ps-toolbar-next-disabled div.ps-toolbar-content
{
        background-image:url(../images/cur_right.png);
        opacity:0.5;
}

div.ps-toolbar-play div.ps-toolbar-content
{
    
}

/* Hi-res display */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi)
{
    div.ps-toolbar div div.ps-toolbar-content
    {/*
        -moz-background-size: 176px 88px;
        -o-background-size: 176px 88px;
        -webkit-background-size: 176px 88px;
        background-size: 176px 88px;
        background-image: url(icons@2x.png);*/
    }
}
