
::-webkit-scrollbar {
	background-color:#fff;
}

::-webkit-scrollbar-thumb {
	background-color:#000;
	height:60px;
	width:16px;
}
::-webkit-scrollbar-track-piece {
	color:#000;
	border-left:1px solid #000;
}
::-webkit-scrollbar-button {
	color:#fff;
	
	
	border-left:1px solid #000;
	height:30px;
}