/* normalize.css v2.1.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, ../sass/_normalize.scss */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/**
 * Remove default margin.
 */
/* line 80, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 92, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 101, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 114, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 123, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 132, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 140, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 148, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 158, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 170, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 179, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 187, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 195, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 204, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 211, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 215, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 227, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 235, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 247, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 259, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 270, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 284, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 296, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 308, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 323, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 333, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 343, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 354, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 367, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 376, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 386, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 399, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 241, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 246, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
html,
body {
  font-size: 90%;
}

/* line 249, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 262, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 265, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
a:focus {
  outline: none;
}

/* line 270, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 273, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 274, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 280, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 285, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 286, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 287, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 288, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 289, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 290, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 291, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 297, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 300, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 310, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 313, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* Grid HTML Classes */
/* line 116, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
}
/* line 121, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 122, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.row:after {
  clear: both;
}
/* line 121, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
.row.collapse .column,
.row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
/* line 124, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
/* line 121, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
/* line 122, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.row .row:after {
  clear: both;
}
/* line 125, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
/* line 121, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 122, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_global.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 130, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
.column,
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

@media only screen {
  /* line 135, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-3 {
    position: relative;
    width: 25%;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-6 {
    position: relative;
    width: 50%;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-9 {
    position: relative;
    width: 75%;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 138, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-12 {
    position: relative;
    width: 100%;
  }

  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 145, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  /* line 146, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"].end {
    float: left;
  }

  /* line 149, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {
  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-3 {
    position: relative;
    width: 25%;
  }

  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-6 {
    position: relative;
    width: 50%;
  }

  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-9 {
    position: relative;
    width: 75%;
  }

  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 156, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .large-12 {
    position: relative;
    width: 100%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%;
  }

  /* line 164, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 165, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 164, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 165, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 164, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 165, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 164, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 165, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 164, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 165, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 164, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 165, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 164, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 165, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 164, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 165, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 164, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 165, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 164, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 165, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 164, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 165, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 169, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  /* line 172, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  /* line 179, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_grid.scss */
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important;
  }
}
/* Foundation Visibility HTML Classes */
/* line 11, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.show-for-small,
.show-for-medium-down,
.show-for-large-down {
  display: inherit !important;
}

/* line 17, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.show-for-medium,
.show-for-medium-up,
.show-for-large,
.show-for-large-up,
.show-for-xlarge {
  display: none !important;
}

/* line 23, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.hide-for-medium,
.hide-for-medium-up,
.hide-for-large,
.hide-for-large-up,
.hide-for-xlarge {
  display: inherit !important;
}

/* line 27, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down {
  display: none !important;
}

/* Specific visilbity for tables */
/* line 38, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
table.show-for-small, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-large, table.hide-for-large-up, table.hide-for-xlarge {
  display: table;
}

/* line 48, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
thead.show-for-small, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-xlarge {
  display: table-header-group !important;
}

/* line 58, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
tbody.show-for-small, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-xlarge {
  display: table-row-group !important;
}

/* line 68, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
tr.show-for-small, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-xlarge {
  display: table-row !important;
}

/* line 79, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
td.show-for-small, td.show-for-medium-down, td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge,
th.show-for-small,
th.show-for-medium-down,
th.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge {
  display: table-cell !important;
}

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 768px) {
  /* line 85, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .show-for-medium,
  .show-for-medium-up {
    display: inherit !important;
  }

  /* line 87, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .show-for-small {
    display: none !important;
  }

  /* line 89, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .hide-for-small {
    display: inherit !important;
  }

  /* line 92, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .hide-for-medium,
  .hide-for-medium-up {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 98, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  table.show-for-medium, table.show-for-medium-up, table.hide-for-small {
    display: table;
  }

  /* line 103, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  thead.show-for-medium, thead.show-for-medium-up, thead.hide-for-small {
    display: table-header-group !important;
  }

  /* line 108, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  tbody.show-for-medium, tbody.show-for-medium-up, tbody.hide-for-small {
    display: table-row-group !important;
  }

  /* line 113, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  tr.show-for-medium, tr.show-for-medium-up, tr.hide-for-small {
    display: table-row !important;
  }

  /* line 119, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  td.show-for-medium, td.show-for-medium-up, td.hide-for-small,
  th.show-for-medium,
  th.show-for-medium-up,
  th.hide-for-small {
    display: table-cell !important;
  }
}
/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 1280px) {
  /* line 126, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .show-for-large,
  .show-for-large-up {
    display: inherit !important;
  }

  /* line 129, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .show-for-medium,
  .show-for-medium-down {
    display: none !important;
  }

  /* line 132, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .hide-for-medium,
  .hide-for-medium-down {
    display: inherit !important;
  }

  /* line 135, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .hide-for-large,
  .hide-for-large-up {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 142, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  table.show-for-large, table.show-for-large-up, table.hide-for-medium, table.hide-for-medium-down {
    display: table;
  }

  /* line 148, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  thead.show-for-large, thead.show-for-large-up, thead.hide-for-medium, thead.hide-for-medium-down {
    display: table-header-group !important;
  }

  /* line 154, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  tbody.show-for-large, tbody.show-for-large-up, tbody.hide-for-medium, tbody.hide-for-medium-down {
    display: table-row-group !important;
  }

  /* line 160, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  tr.show-for-large, tr.show-for-large-up, tr.hide-for-medium, tr.hide-for-medium-down {
    display: table-row !important;
  }

  /* line 167, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  td.show-for-large, td.show-for-large-up, td.hide-for-medium, td.hide-for-medium-down,
  th.show-for-large,
  th.show-for-large-up,
  th.hide-for-medium,
  th.hide-for-medium-down {
    display: table-cell !important;
  }
}
/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 1440px) {
  /* line 173, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .show-for-xlarge {
    display: inherit !important;
  }

  /* line 176, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .show-for-large,
  .show-for-large-down {
    display: none !important;
  }

  /* line 179, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .hide-for-large,
  .hide-for-large-down {
    display: inherit !important;
  }

  /* line 181, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .hide-for-xlarge {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 187, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  table.show-for-xlarge, table.hide-for-large, table.hide-for-large-down {
    display: table;
  }

  /* line 192, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  thead.show-for-xlarge, thead.hide-for-large, thead.hide-for-large-down {
    display: table-header-group !important;
  }

  /* line 197, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  tbody.show-for-xlarge, tbody.hide-for-large, tbody.hide-for-large-down {
    display: table-row-group !important;
  }

  /* line 202, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  tr.show-for-xlarge, tr.hide-for-large, tr.hide-for-large-down {
    display: table-row !important;
  }

  /* line 208, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  td.show-for-xlarge, td.hide-for-large, td.hide-for-large-down,
  th.show-for-xlarge,
  th.hide-for-large,
  th.hide-for-large-down {
    display: table-cell !important;
  }
}
/* Orientation targeting */
/* line 215, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}

/* line 217, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

/* Specific visilbity for tables */
/* line 222, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
table.hide-for-landscape, table.show-for-portrait {
  display: table;
}

/* line 226, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important;
}

/* line 230, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important;
}

/* line 234, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important;
}

/* line 239, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important;
}

@media only screen and (orientation: landscape) {
  /* line 244, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }

  /* line 246, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 251, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  table.show-for-landscape, table.hide-for-portrait {
    display: table;
  }

  /* line 255, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important;
  }

  /* line 259, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important;
  }

  /* line 263, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important;
  }

  /* line 268, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important;
  }
}
@media only screen and (orientation: portrait) {
  /* line 274, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }

  /* line 276, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 281, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  table.show-for-portrait, table.hide-for-landscape {
    display: table;
  }

  /* line 285, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important;
  }

  /* line 289, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important;
  }

  /* line 293, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important;
  }

  /* line 298, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important;
  }
}
/* Touch-enabled device targeting */
/* line 303, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.show-for-touch {
  display: none !important;
}

/* line 304, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.hide-for-touch {
  display: inherit !important;
}

/* line 305, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.touch .show-for-touch {
  display: inherit !important;
}

/* line 306, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.touch .hide-for-touch {
  display: none !important;
}

/* Specific visilbity for tables */
/* line 309, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
table.hide-for-touch {
  display: table;
}

/* line 310, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.touch table.show-for-touch {
  display: table;
}

/* line 311, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
thead.hide-for-touch {
  display: table-header-group !important;
}

/* line 312, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.touch thead.show-for-touch {
  display: table-header-group !important;
}

/* line 313, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
tbody.hide-for-touch {
  display: table-row-group !important;
}

/* line 314, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.touch tbody.show-for-touch {
  display: table-row-group !important;
}

/* line 315, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
tr.hide-for-touch {
  display: table-row !important;
}

/* line 316, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.touch tr.show-for-touch {
  display: table-row !important;
}

/* line 317, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
td.hide-for-touch {
  display: table-cell !important;
}

/* line 318, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.touch td.show-for-touch {
  display: table-cell !important;
}

/* line 319, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
th.hide-for-touch {
  display: table-cell !important;
}

/* line 320, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_visibility.scss */
.touch th.show-for-touch {
  display: table-cell !important;
}

/* line 110, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
p.lead {
  font-size: 1.21875em;
  line-height: 1.6;
}

/* line 115, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: 300;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

/* Typography resets */
/* line 144, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

/* Default Link Styles */
/* line 151, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
a {
  color: #2ba6cb;
  text-decoration: none;
  line-height: inherit;
}
/* line 157, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
a:hover, a:focus {
  color: #2795b6;
}
/* line 159, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
a img {
  border: none;
}

/* Default paragraph styles */
/* line 163, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility;
}
/* line 173, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
p aside {
  font-size: 0.875em;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
/* line 181, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
}
/* line 191, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

/* line 198, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
h1 {
  font-size: 2.125em;
}

/* line 199, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
h2 {
  font-size: 1.6875em;
}

/* line 200, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
h3 {
  font-size: 1.375em;
}

/* line 201, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
h4 {
  font-size: 1.125em;
}

/* line 202, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
h5 {
  font-size: 1.125em;
}

/* line 203, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
h6 {
  font-size: 1em;
}

/* line 207, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

/* Helpful Typography Defaults */
/* line 217, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
em,
i {
  font-style: italic;
  line-height: inherit;
}

/* line 223, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
strong,
b {
  font-weight: bold;
  line-height: inherit;
}

/* line 228, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
small {
  font-size: 60%;
  line-height: inherit;
}

/* line 233, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #7f0a0c;
}

/* Lists */
/* line 242, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: outside;
  font-family: inherit;
}

/* line 250, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
ul, ol {
  margin-left: 0;
}

/* Unordered Lists */
/* line 258, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
ul li ul,
ul li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
  font-size: 1em;
  /* Override nested font-size change */
}
/* line 267, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}
/* line 270, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
ul.square {
  list-style-type: square;
}
/* line 271, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
ul.circle {
  list-style-type: circle;
}
/* line 272, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
ul.disc {
  list-style-type: disc;
}
/* line 273, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
/* line 280, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
ol li ul,
ol li ol {
  margin-left: 1.25em;
  margin-bottom: 0;
}

/* Definition Lists */
/* line 289, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
dl dt {
  margin-bottom: 0.3em;
  font-weight: bold;
}
/* line 293, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
dl dd {
  margin-bottom: 0.75em;
}

/* Abbreviations */
/* line 298, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

/* line 305, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
abbr {
  text-transform: none;
}

/* Blockquotes */
/* line 310, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
blockquote {
  margin: 0 0 1.25em;
  padding: 0.5625em 1.25em 0 1.1875em;
  border-left: 1px solid #dddddd;
}
/* line 315, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
blockquote cite {
  display: block;
  font-size: 0.8125em;
  color: #555555;
}
/* line 319, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 324, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
blockquote cite a,
blockquote cite a:visited {
  color: #555555;
}

/* line 330, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

/* Microformats */
/* line 336, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
.vcard {
  display: inline-block;
  margin: 0 0 1.25em 0;
  border: 1px solid #dddddd;
  padding: 0.625em 0.75em;
}
/* line 342, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
.vcard li {
  margin: 0;
  display: block;
}
/* line 346, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
.vcard .fn {
  font-weight: bold;
  font-size: 0.9375em;
}

/* line 353, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
.vevent .summary {
  font-weight: bold;
}
/* line 355, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625em;
}

@media only screen and (min-width: 768px) {
  /* line 366, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  /* line 367, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  h1 {
    font-size: 2.75em;
  }

  /* line 368, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  h2 {
    font-size: 2.3125em;
  }

  /* line 369, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  h3 {
    font-size: 1.6875em;
  }

  /* line 370, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  h4 {
    font-size: 1.4375em;
  }
}
/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
/* line 381, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
.print-only {
  display: none !important;
}

@media print {
  /* line 383, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 391, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 392, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 394, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 399, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 402, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 407, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 410, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 412, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 418, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 424, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 426, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  .hide-on-print {
    display: none !important;
  }

  /* line 427, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  .print-only {
    display: block !important;
  }

  /* line 428, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  .hide-for-print {
    display: none !important;
  }

  /* line 429, ../../../../../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.2.2/scss/foundation/components/_type.scss */
  .show-for-print {
    display: inherit !important;
  }
}
/* line 48, ../sass/app.scss */
p {
  line-height: 1.4em;
}

/* line 51, ../sass/app.scss */
a {
  color: #000;
}
/* line 53, ../sass/app.scss */
a:hover {
  color: #555;
}

/* line 57, ../sass/app.scss */
p {
  margin-bottom: 0;
}

/* line 62, ../sass/app.scss */
header {
  box-sizing: content-box;
  position: fixed;
  width: 91%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1em;
  top: 0;
  z-index: 200;
  height: 30px;
  background: white url(../../images/header_b.gif) no-repeat scroll bottom right;
  display: block;
  background-position: right 16px;
  border-bottom: 0;
  opacity: 1;
}
/* line 78, ../sass/app.scss */
header border-bottom
img.start {
  pointer-events: auto;
}
/* line 81, ../sass/app.scss */
header img {
  opacity: 1;
  position: fixed;
  width: 94px;
  height: 94px;
  left: 50%;
  top: 50%;
  margin-left: -47px;
  margin-top: -50px;
  pointer-events: none;
  opacity: 0.3;
}
/* line 93, ../sass/app.scss */
header img:hover {
  opacity: 1;
}
/* line 100, ../sass/app.scss */
header h1 {
  opacity: 1;
  z-index: 220;
  margin-top: 16px;
  width: 349px;
  height: 16px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font: normal normal bold 14px/16px Arial, sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  background: url(../../images/mg_photographs.png) no-repeat scroll top left;
  background-size: 80% !important;
}
/* line 114, ../sass/app.scss */
header h1 a {
  opacity: 1;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
}

/* line 126, ../sass/app.scss */
#content {
  margin-top: 5em;
}
/* line 128, ../sass/app.scss */
#content .swipe {
  overflow: hidden;
  visibility: block;
  position: relative;
}
/* line 133, ../sass/app.scss */
#content .swipe-wrap {
  overflow: hidden;
  position: relative;
}
/* line 137, ../sass/app.scss */
#content .swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
/* line 142, ../sass/app.scss */
#content #thumb-chart {
  width: 98%;
  margin-left: 1%;
  display: block;
  overflow: hidden;
  margin-bottom: 80px;
}
/* line 149, ../sass/app.scss */
#content #thumb-chart .cat-holder {
  display: block;
  overflow: hidden;
  float: left;
}
/* line 153, ../sass/app.scss */
#content #thumb-chart .cat-holder a.videopost:before {
  content: url(../../images/play4.png);
  width: 50%;
  height: 50%;
  margin-top: 10%;
  margin: 0 auto;
  position: absolute;
}
/* line 161, ../sass/app.scss */
#content #thumb-chart .cat-holder a {
  position: relative;
  display: block;
  float: left;
  margin-right: 5px;
  margin-bottom: 1em;
}
/* line 168, ../sass/app.scss */
#content #thumb-chart .cat-holder a img {
  height: 60px;
  width: auto;
}
/* line 173, ../sass/app.scss */
#content #thumb-chart .cat-holder a.add-space-right {
  margin-right: 3em;
}
/* line 176, ../sass/app.scss */
#content #thumb-chart .cat-holder a.inactive {
  display: none;
}
/* line 179, ../sass/app.scss */
#content #iv-wrapper {
  width: 96%;
  height: 73%;
  opacity: 1;
  left: 2%;
  top: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 95%;
  left: 0;
}
/* line 192, ../sass/app.scss */
#content #iv-wrapper #iv-content {
  position: relative;
  width: 300%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 199, ../sass/app.scss */
#content #iv-wrapper #iv-content article {
  width: 31%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  background-position: center center;
  box-sizing: content-box;
  margin: 0 2% 0 0;
  position: relative;
  text-align: center;
}
/* line 212, ../sass/app.scss */
#content #iv-wrapper #iv-content article img {
  max-height: 90%;
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}
/* line 224, ../sass/app.scss */
#content #iv-wrapper #iv-content article div.playbutton, #content #iv-wrapper #iv-content article div.pausebutton {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 90px;
  margin-left: -45px;
  margin-top: -40px;
  background-size: contain;
}
/* line 235, ../sass/app.scss */
#content #iv-wrapper #iv-content article div.pausebutton {
  background: transparent url(../../images/pausebutton.png) no-repeat scroll center center;
}
/* line 238, ../sass/app.scss */
#content #iv-wrapper #iv-content article div.playbutton {
  background: transparent url(../../images/playbutton.png) no-repeat scroll center center;
}
/* line 242, ../sass/app.scss */
#content #iv-wrapper #iv-content article video {
  position: relative;
  width: 100%;
  height: auto !important;
  min-height: 60%;
  background-color: #fff;
  margin: 0 auto;
  vertical-align: middle;
}
/* line 262, ../sass/app.scss */
#content #iv-wrapper #iv-content article .vertical-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 269, ../sass/app.scss */
#content #iv-wrapper #iv-content article.current-article {
  opacity: 1;
}
/* line 273, ../sass/app.scss */
#content #iv-wrapper #iv-content img.hidden {
  opacity: 0;
  display: block;
}
/* line 274, ../sass/app.scss */
#content #iv-wrapper #iv-content article.current-article:hover {
  cursor: url(../../images/cur_minus.png) 27 0, default !important;
}
/* line 275, ../sass/app.scss */
#content #iv-wrapper #iv-content article.next-article:hover {
  cursor: url(../../images/cur_right.png), default !important;
}
/* line 276, ../sass/app.scss */
#content #iv-wrapper #iv-content article.prev-article:hover {
  cursor: url(../../images/cur_left.png), default !important;
}
/* line 280, ../sass/app.scss */
#content #iv-wrapper.closed {
  display: block;
  opacity: 0;
  pointer-events: none;
}

/* line 289, ../sass/app.scss */
footer {
  clear: both;
  position: fixed;
  box-sizing: content-box;
  height: 40px;
  bottom: 0px;
  width: 91%;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 1em;
  border-top: 0;
  background-color: #fff;
}
/* line 301, ../sass/app.scss */
footer nav {
  height: 2em;
  position: absolute;
  width: 96%;
  margin-right: 2em;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
/* line 308, ../sass/app.scss */
footer nav ul {
  margin: 0;
}
/* line 310, ../sass/app.scss */
footer nav ul li {
  display: block;
  float: left;
  text-indent: -9999px;
  border-right: 1px solid #000;
  height: 2em;
  background-size: 80%;
}
/* line 311, ../sass/app.scss */
footer nav ul li a {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
}
/* line 312, ../sass/app.scss */
footer nav ul li#index-nav {
  width: 65px;
  background: transparent url(../../images/menu-index.png) no-repeat scroll center left;
}
/* line 313, ../sass/app.scss */
footer nav ul li#contact-nav {
  width: 92px;
  background: transparent url(../../images/menu-contact.png) no-repeat scroll center left;
}
/* line 314, ../sass/app.scss */
footer nav ul li#about-nav {
  width: 70px;
  background: transparent url(../../images/menu-aboutpng.png) no-repeat scroll center left;
}
/* line 319, ../sass/app.scss */
footer article {
  display: none;
  text-indent: 0;
  padding-bottom: 16px;
  height: 154px;
  padding-right: 2em !important;
  overflow: hidden;
  position: absolute;
  width: 23em;
  margin-top: -154px;
}
/* line 329, ../sass/app.scss */
footer article:hover {
  display: block;
  opacity: 1;
  width: 402px;
  padding-top: 10px;
}
/* line 335, ../sass/app.scss */
footer article div {
  padding-left: 1em;
  margin-left: 0em;
  padding-top: 0.5em;
  padding-right: 2em;
  border-left: 1px solid #000;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
/* line 344, ../sass/app.scss */
footer article div p {
  max-width: 300px;
}
/* line 347, ../sass/app.scss */
footer article div ul {
  list-style-type: none;
  font-style: italic;
}
/* line 350, ../sass/app.scss */
footer article div ul li.sort {
  float: left;
  margin-left: 0;
}
/* line 354, ../sass/app.scss */
footer article div ul li {
  width: 7em;
  margin-left: 7em;
  display: block;
}
/* line 358, ../sass/app.scss */
footer article div ul li a {
  text-indent: 10em;
}
/* line 365, ../sass/app.scss */
footer article.show {
  display: block;
  opacity: 1;
  width: 402px;
  padding-top: 10px;
}

/* line 373, ../sass/app.scss */
#loading {
  position: fixed;
  width: 94px;
  height: 94px;
  left: 50%;
  top: 50%;
  margin-left: -47px;
  margin-top: -50px;
  opacity: 0;
  pointer-events: none;
}

/* line 384, ../sass/app.scss */
#loading.show {
  opacity: 0.3;
}

/* line 387, ../sass/app.scss */
article {
  opacity: 1;
}

/* line 390, ../sass/app.scss */
.hidden {
  opacity: 0 !important;
  pointer-events: none;
}

/* line 396, ../sass/app.scss */
#intrologo {
  opacity: 1;
  position: fixed;
  width: 94px;
  height: 94px;
  left: 50%;
  top: 50%;
  margin-left: -47px;
  margin-top: -50px;
}
/* line 412, ../sass/app.scss */
#intrologo img {
  width: 100%;
  height: 100%;
}

/* line 417, ../sass/app.scss */
#swipenav {
  width: 100%;
  bottom: 0;
  position: fixed;
  margin-bottom: 0;
}
/* line 423, ../sass/app.scss */
#swipenav ul, #swipenav li, #swipenav a {
  display: block;
  overflow: hidden;
  float: left;
}
/* line 424, ../sass/app.scss */
#swipenav ul {
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 50px;
  padding: 0px;
}
/* line 431, ../sass/app.scss */
#swipenav ul li {
  width: 64px;
  height: 25px;
  margin: 10px 1em 0;
}
/* line 433, ../sass/app.scss */
#swipenav ul li a {
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 434, ../sass/app.scss */
#swipenav ul li a.tapprevimage {
  background-image: url(../../images/cur_left.png);
}
/* line 435, ../sass/app.scss */
#swipenav ul li a.tapnextimage {
  background-image: url(../../images/cur_right.png);
}
/* line 436, ../sass/app.scss */
#swipenav ul li a.tapcloseviewer {
  background-image: url(../../images/cur_cross.png);
}
/* line 439, ../sass/app.scss */
#swipenav ul li:nth-child(3) {
  float: right;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 449, ../sass/app.scss */
  .touch {
    min-height: 100%;
  }
  /* line 451, ../sass/app.scss */
  .touch #swipenav ul {
    height: 35px;
  }

  /* line 455, ../sass/app.scss */
  .touch header, .touch footer {
    height: 15px;
  }

  /* line 462, ../sass/app.scss */
  .touch header {
    height: 11px;
    margin: 0;
    padding: 0;
  }

  /* line 470, ../sass/app.scss */
  .touch header h1 {
    background-size: contain;
    height: 11px;
    margin: 0;
    padding: 0;
  }
  /* line 476, ../sass/app.scss */
  .touch header h1 a {
    height: 11px;
    margin: 0;
    padding: 0;
  }

  /* line 481, ../sass/app.scss */
  .touch footer {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* line 487, ../sass/app.scss */
  .touch footer nav, .touch footer nav ul li {
    height: 11px;
    background-size: contain;
  }

  /* line 495, ../sass/app.scss */
  .touch footer nav ul li#index-nav, .touch footer nav ul li#contact-nav, .touch footer nav ul #about-nav {
    background-size: contain;
  }

  /* line 497, ../sass/app.scss */
  .touch footer {
    padding-bottom: 0.1em;
    padding-top: 0.1em;
  }
  /* line 500, ../sass/app.scss */
  .touch footer article {
    font-size: 0.7em;
    height: 12em;
    margin-top: -10.5em;
    background: rgba(255, 255, 255, 0.9);
  }
}
@media all and (min-width: 1025px) {
  /* line 513, ../sass/app.scss */
  html, a, div {
    cursor: url(../../images/cur_normal.png), default !important;
  }

  /* line 514, ../sass/app.scss */
  #thumb-chart .thumbnail-image:hover img:hover {
    cursor: url(../../images/cur_plus.png) 27 27, default !important;
  }

  /* line 516, ../sass/app.scss */
  ::-webkit-scrollbar {
    background-color: #fff;
  }

  /* line 520, ../sass/app.scss */
  ::-webkit-scrollbar-thumb {
    background-color: #000;
    height: 60px;
    width: 16px;
  }

  /* line 525, ../sass/app.scss */
  ::-webkit-scrollbar-track-piece {
    color: #000;
    border-left: 1px solid #000;
  }

  /* line 529, ../sass/app.scss */
  ::-webkit-scrollbar-button {
    color: #fff;
    border-left: 1px solid #000;
    height: 30px;
  }

  /* line 537, ../sass/app.scss */
  #loading {
    width: 188px;
    height: 188px;
    margin-left: -94px;
    margin-top: -100px;
  }

  /* line 543, ../sass/app.scss */
  header {
    width: 94%;
    left: 3%;
    padding-left: 0;
    padding-bottom: 0;
    background-color: transparent;
    box-sizing: border-box;
  }
  /* line 550, ../sass/app.scss */
  header h1 {
    background-size: 100%;
  }
  /* line 553, ../sass/app.scss */
  header img {
    width: 188px;
    height: 188px;
    margin-left: -94px;
    margin-top: -100px;
  }

  /* line 561, ../sass/app.scss */
  #content #thumb-chart {
    margin-bottom: 140px;
  }
  /* line 564, ../sass/app.scss */
  #content #thumb-chart .cat-holder a.videopost:before {
    content: url(../../images/play3.png);
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin: 0 auto;
    position: absolute;
  }
  /* line 572, ../sass/app.scss */
  #content #thumb-chart .cat-holder a {
    opacity: 0.3;
  }
  /* line 574, ../sass/app.scss */
  #content #thumb-chart .cat-holder a:hover {
    opacity: 1;
  }
  /* line 577, ../sass/app.scss */
  #content #thumb-chart .cat-holder a img {
    height: 120px;
    margin-bottom: 2em;
  }
  /* line 585, ../sass/app.scss */
  #content #iv-wrapper {
    left: 2%;
    width: 96%;
    height: 76%;
    top: 10%;
  }
  /* line 590, ../sass/app.scss */
  #content #iv-wrapper #iv-content {
    width: 9999px;
    height: 100%;
    cursor: url(./images/cur_minus.png) 27 0, default;
  }
  /* line 594, ../sass/app.scss */
  #content #iv-wrapper #iv-content article {
    opacity: 0.3;
    height: 100%;
    width: auto;
    float: left;
    background-image: none !important;
    box-sizing: content-box;
    margin: 0;
    display: block;
  }
  /* line 604, ../sass/app.scss */
  #content #iv-wrapper #iv-content article video {
    height: 90% !important;
    width: auto;
    top: 0;
    margin-left: 1em;
  }
  /* line 610, ../sass/app.scss */
  #content #iv-wrapper #iv-content article img {
    display: block;
    height: 90%;
    width: auto;
    margin-left: 1em;
    opacity: 1;
  }
  /* line 617, ../sass/app.scss */
  #content #iv-wrapper #iv-content article:hover {
    opacity: 1;
  }
  /* line 621, ../sass/app.scss */
  #content #iv-wrapper #iv-content article div.playbutton, #content #iv-wrapper #iv-content article div.pausebutton {
    opacity: 0.6;
    width: 188px;
    height: 188px;
    margin-left: -94px;
    margin-top: -86px;
  }
  /* line 630, ../sass/app.scss */
  #content #iv-wrapper #iv-content article div.playbutton:hover, #content #iv-wrapper #iv-content article div.pausebutton:hover {
    opacity: 1;
  }
  /* line 637, ../sass/app.scss */
  #content #iv-wrapper #iv-content article.last {
    margin-right: 50px;
  }

  /* line 643, ../sass/app.scss */
  footer {
    background-color: transparent;
    height: 62px;
    bottom: 0px;
    width: 94%;
    left: 3%;
    padding-left: 0;
    padding-top: 0;
  }
  /* line 656, ../sass/app.scss */
  footer nav ul li#index-nav {
    width: 114px;
    background: transparent url(../../images/menu-index.png) no-repeat scroll center left;
  }
  /* line 657, ../sass/app.scss */
  footer nav ul li#contact-nav {
    width: 140px;
    background: transparent url(../../images/menu-contact.png) no-repeat scroll center left;
  }
  /* line 658, ../sass/app.scss */
  footer nav ul li#about-nav {
    width: 120px;
    background: transparent url(../../images/menu-aboutpng.png) no-repeat scroll center left;
  }

  /* line 662, ../sass/app.scss */
  #intrologo {
    opacity: 1;
    position: fixed;
    width: 188px;
    height: 188px;
    left: 50%;
    top: 50%;
    margin-left: -94px;
    margin-top: -100px;
  }
  /* line 674, ../sass/app.scss */
  #intrologo img {
    width: 100%;
    height: 100%;
  }

  /* line 680, ../sass/app.scss */
  #intrologo, #thumb-chart, #loading.show, #loading, article, .hidden, #iv-wrapper, #iv-wrapper.closed, a, img, .playbutton, header, footer {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }
}
/* line 685, ../sass/app.scss */
.timeline-track {
  position: relative;
  background-color: #fff;
  height: 1em;
  border: 1px solid #fff;
  margin-left: 1em;
}
/* line 691, ../sass/app.scss */
.timeline-track .timeline-thumb {
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #000;
  border-left: 1px solid #000;
}

/* 





<div id='slider' class='swipe'>
  <div class='swipe-wrap'>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
 */
