// Global Foundation Settings
@import "settings";
@import "compass/css3";
// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
// @import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/visibility";
// @import "foundation/components/block-grid";
@import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
@media #{$small-only} {
	body {
		footer {
			nav {
				border-right:0px;
				ul {
					li {
						width:33.2%;
					}
	

				}
			}
			article {
				display: none;
				text-indent:0;
				padding-bottom:26px;
				height:194px;
				padding-right:2em !important;
				overflow:hidden;
				position: absolute;
				width:26em;
				margin-top:-204px;
				opacity:0;
			}
		}
	}
	header img#centerlogo {
		width:70px;
			height:70px;
			left:50%;
			top:50%;
			margin-left:-35px;
			margin-top:-40px;
	}
	a#intrologo {
		opacity: 1;	



		position:fixed;
			width:70px;
			height:70px;
			left:50%;
			top:50%;
			margin-left:-35px;
			margin-top:-40px;




		img {
			width:100%;
			height:100%;
		}
	}

 }
















p {
	line-height: 1.4em;
}
a {
	color:#000;
	&:hover {
		color:#555;
	}
}
p {
	margin-bottom:0;
}


header {
	box-sizing:content-box;
	position:fixed;
	width:91%;
	padding-left:3%;
	padding-right:3%;
	padding-bottom:1em;
	top:0;
	z-index:200;
	height:30px;
	background:transparent url(../../images/header_b.gif) no-repeat scroll bottom right;	
	display:block;
	background-position: right 16px;
	// background-size:contain;
	border-bottom:0;
	opacity:1;
	border-bottom
	img.start {
		pointer-events: auto;
	}
	img {
		opacity: 1;	
		position:fixed;
		width:94px;
		height:94px;
		left:50%;
		top:50%;
		margin-left:-47px;
		margin-top:-50px;
		pointer-events: none;
		opacity: $lowOpacity;
		
  		&:hover {
  			opacity: 1;
  		}
  	}
		 

	
	h1 {

		opacity:1;
		z-index:220;
		margin-top:16px;
		width:349px;
		height:16px;
		border-left:1px solid #000;
		border-right:1px solid #000;
		font:normal normal bold 14px/16px Arial, sans-serif;
		text-transform:uppercase;
		font-size:60px;
		background: url(../../images/mg_photographs.png) no-repeat scroll top left;
		background-size:80% !important;
		a {
			opacity:1;
			width:100%;
			height:100%;
			display:block;
			overflow:hidden;
			position:relative;
			text-indent:-9999px;
		}
	}
}

#content {
	margin-top:5em;
	.swipe {
		  overflow: hidden;
		  visibility: block;
		  position: relative;
		}
		.swipe-wrap {
		  overflow: hidden;
		  position: relative;
		}
		.swipe-wrap > div {
		  float:left;
		  width:100%;
		  position: relative;
		}
	#thumb-chart {
		width:98%;
		margin-left:1%;
		
		display: block;
		overflow: hidden;
		margin-bottom:80px;
		.cat-holder {
			display:block;
			overflow: hidden;
			float: left;
			a.videopost:before {
				// small stuffa
				
				display: block;
				// float: left;
				content:"";
				// width: 3em;
				// height: 3em;
				background-repeat:no-repeat;
				background-image:url(../../images/play3.png);
				background-size:contain;
				width:100%;
				height:100%;
				// background-position:center center;


				// content: url(../../images/play3.png);
				
				margin:0 auto;
				position:absolute;
			}
			a {
				position:relative;
				display: block;
				float: left;
				margin-right:5px;
				margin-bottom:1em;
				
				img {
					height:60px;
					width:auto;
				}
			}
			a.add-space-right {
				margin-right:3em;
			}
			a.inactive {display:none;}
		}
	}
	#iv-wrapper{
		width:96%;
		height:73%;
		opacity: 1;
		left:2%;
		top:0;
		position:fixed;
		overflow:hidden;


		width:100%;
		height:95%;
		left:0;
		#iv-content {
			position:relative; 
			width:300%;
			height:100%;
			transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
		  
			article {
				width: 31%;
				
				height:100%;
				background-size:contain;
				background-repeat:no-repeat;
				float:left;
				background-position:center center;
				box-sizing:content-box;
  				margin:0 2% 0 0;
  				position:relative;
  				text-align: center;
				// display: block;
				img {
					// display: none;
					max-height: 90%;
					max-width: 100%;
					height: auto;
					width:auto;
					// margin:5% auto;
					// margin-top:5%;
					vertical-align: middle;

				}
				
				div.playbutton, div.pausebutton {
						position:absolute;
						left:25%;
						top:25%;
						width:90px;
						height:90px;
						margin-left:-45px;
						margin-top:-40px;
						background-size:contain;
						
					}
				div.pausebutton {
					background:transparent url(../../images/pausebutton.png) no-repeat scroll center center;
					background-size:100%;
				}
				div.playbutton {
					background:transparent url(../../images/playbutton.png) no-repeat scroll center center;	
					background-size:100%;
				}

				video {
					
					// display:none;
					position:relative;
					// width:90%;
					// 
					width:100%;
					height:auto !important;
					min-height: 60%;


					background-color:#fff;
					

					margin:0 auto;

					vertical-align: middle;


				}
				.vertical-helper {
					display: inline-block;
				    height: 100%;
				    vertical-align: middle;

				}
			}
			article.current-article {
				opacity: 1;
			}
			
			img.hidden {opacity:0; display:block;} 
			article.current-article:hover{cursor:url(../../images/cur_minus.png) 27 0, default !important;}
			article.next-article:hover{cursor:url(../../images/cur_right.png),default !important;}
			article.prev-article:hover{cursor:url(../../images/cur_left.png),default !important;}

		}
	}
	#iv-wrapper.closed {  		
		display: block;
		opacity:0;
		pointer-events:none;
	}
}



footer {
	clear:both;
	position:fixed;
	box-sizing:content-box;
	height:40px;
	bottom:0px;
	width:91%;
	padding-right:3%;
	padding-left:3%;
	padding-top:1em;
	border-top:0;
	// background-color:#fff;
	nav {
		height:16px;
		position:relative;
		width:100%;
		margin-right:2em;
		border-left:1px solid #000;
		border-right:1px solid #000;
		padding-top:0;
		ul {
			margin:0;
			li {display:block;float:left;text-indent:-9999px;border-right:1px solid #000; height:16px; background-size:contain !important; width:33%;}
			li a {display:block;overflow:hidden;text-indent:-9999px;width:100%;height:100%;}
			li#index-nav{width:85px;background:transparent url(../../images/menu-index.png) no-repeat scroll center left;}
			li#contact-nav{width:112px;background:transparent url(../../images/menu-contact.png) no-repeat scroll center left;}
			li#about-nav{width:90px;background:transparent url(../../images/menu-aboutpng.png) no-repeat scroll center left;}

		}

	}
	article {
		display: none;
		text-indent:0;
		padding-bottom:26px;
		height:184px;
		padding-right:2em !important;
		overflow:hidden;
		position: absolute;
		width:32em;
		margin-top:-194px;
		opacity:0;
		@include transition-property(opacity);
	  	@include transition-duration($transitionSpeed); 
		&:hover {
			display:block;
			opacity:1;
			// width:402px;
			padding-top:10px;
			@include transition-property(opacity);
	  		@include transition-duration($transitionSpeed); 
		}
		div	{
			padding-left:1em;
			margin-left:0em;
			padding-top:0.5em;
			padding-right:2em;
			border-left:1px solid #000;
			width:100%;
			height:100%;
			background:rgba(#fff, 0.8);
			p {
				max-width: 330px;
			}
			ul {
				list-style-type: none;
				font-style:italic;
				li.sort {
					float:left;
					margin-left:0;
				}
				li {
					width:7em;
					margin-left:7em;
					display:block;
					a{
						text-indent:10em;
					}
				}
			}
		}
	}
	article.show {
		display:block;
		opacity:1;
		// width:402px;
		padding-top:10px;
	}
}

#loading {
	position:fixed;
	width:94px;
	height:94px;
	left:50%;
	top:50%;
	margin-left:-47px;
	margin-top:-50px;
	opacity:0;
	pointer-events:none;
}
#loading.show {
	opacity:0.3;
}
article {
	opacity:1;
}
.hidden {
	opacity:0 !important;
	pointer-events:none;
	// display:none;
}
// Cursor settings
#intrologo {
	opacity: 1;	



	position:fixed;
		width:94px;
		height:94px;
		left:50%;
		top:50%;
		margin-left:-47px;
		margin-top:-50px;




	img {
		width:100%;
		height:100%;
	}
}
#swipenav {
	width:100%;
	bottom:0;
	position:fixed;
	margin-bottom:0;
	
	ul, li, a {display:block;overflow:hidden;float:left;}
	ul {
		margin-bottom:0;
		margin-left:0;
		background:rgba(#fff, 0.8);
		width:100%;
		height:50px;
		padding:0px;
		position:relative;
		li {width:64px; height:25px;
			float:right;
			margin:10px 1em 0;
			a {width:100%; height:100%; text-indent:-9999px; background-size:contain;background-repeat:no-repeat; background-position:center center;}
			a.tapprevimage 	{ background-image:url(../../images/cur_left.png); }
			a.tapnextimage 	{ background-image:url(../../images/cur_right.png); }
			a.tapcloseviewer{ background-image:url(../../images/cur_cross.png); }

		}
		li:nth-child(3) {
			float:left;
		}
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
	// .touch {
	// 	min-height: 100%;
	// 	#swipenav ul {
	// 		height:16px;
	// 		margin-top:-16px;
	// 	}
	// }
	.touch {
		#swipenav ul {
			height: 25px;
			li {
				height: 12px;
				a {
					// height:
				}
			}
		}
	}
	.touch header, .touch footer {
		height:16px;

		


	}
	.touch header {
		// padding-top:10px;
		// height:11px;
		// margin-top:5px;
		height:16px;
		// padding-bottom:5px;;
		margin:0;padding:5px 0 5px 5px;
		background-position: right 5px;

	}
	.touch header h1 {
		// padding-top:0;
		// margin-top: 0;
		background-size:60% !important;
		height:16px;
		margin:0;padding:0;
		background-position:left center;
		a {
			height:12px;
			margin:0;

			// padding:5px;
		}
	}
	.touch footer {
		padding-top:10px;
		padding-bottom:5px;



	}
	.touch footer nav, .touch footer nav ul li {
		height:11px;
		
		background-size:contain;


	}
	.touch footer nav {}
	.touch footer nav ul {
		li#index-nav, li#contact-nav, #about-nav {background-size:contain;}
	}
	.touch footer {
		// padding-bottom:0.1em;
		// padding-top:0.1em;
		article {
			height:120px;
			margin-top:-120px;
			ul {
				font-size:0.8em;
			}
			p {
				font-size:0.8em;
			}
			font-size:0.8em;
			

			
			// background:rgba(#fff, 0.9);
		}
	}


}


@media all and (min-width: 1025px){
	html, a, div {cursor:url(../../images/cur_normal.png), default !important;}
	#thumb-chart .thumbnail-image:hover img:hover{cursor:url(../../images/cur_plus.png) 27 27, default !important;}

	::-webkit-scrollbar {
		background-color:#fff;
	}

	::-webkit-scrollbar-thumb {
		background-color:#000;
		height:60px;
		width:16px;
	}
	::-webkit-scrollbar-track-piece {
		color:#000;
		border-left:1px solid #000;
	}
	::-webkit-scrollbar-button {
		color:#fff;
		
		
		border-left:1px solid #000;
		height:30px;
	}

	#loading {
		width:188px;
		height:188px;
		margin-left: -94px;
		margin-top: -100px;
	}
	header {
		width:94%;
		left:3%;
		padding-left:0;
		padding-bottom:0;
		background-color:transparent;
		box-sizing:border-box;
		h1 {
			background-size:100%;
		}
		img {
			width:188px;
			height:188px;
			margin-left: -94px;
			margin-top: -100px;
		}
	}
	#content {
		#thumb-chart {
			margin-bottom:140px; 
			.cat-holder {
				a.videopost:before {
				// content: url(../../images/play3.png);
				width:100%;
				height:100%;
				margin-top:10%;
				margin:0 auto;
				position:absolute;
			}
				a {
					opacity: $lowOpacity;
					&:hover {
						opacity: 1;
					}
					img {
						height:120px;
						margin-bottom: 2em;
						
					}
				}
			}
		}
		#iv-wrapper {
			left:2%;
			width:96%;
			height:76%;
			top:10%;
			#iv-content {
				width:9999px;
				height:100%;
				cursor:url(./images/cur_minus.png) 27 0, default;
				article {
					opacity:$lowOpacity;
					height:100%;
					width:auto;
					float:left;
					
					background-image:none !important;
					box-sizing:content-box;
					margin:0;
					display: block;
					video {
						height:90% !important;
						width:auto;
						top:0;
						margin-left:1em;
					}
					img {
						display:block;
						height:90%;
						width:auto;
						margin-left:1em;
						opacity: 1;
					}
					&:hover {
						opacity:1;

					}
					div.playbutton, div.pausebutton {
						opacity: 0.6;
						
						width:188px;
						height:188px;
						margin-left:-94px;
						margin-top:-86px;
						left:50%;
						top:50%;
						

						&:hover {
							opacity:1;

						}
					}

				}
				article.last {
					margin-right:50px;
				}
			}
		}
	}
	footer {
		background-color:transparent;
		height:42px;
		bottom:0px;
		width:94%;
		left:3%;
		padding-left:0;
		padding-top:0;
		nav {
			ul {
				li {
					background-size:contain;	
				}
				li#index-nav{width:114px;background:transparent url(../../images/menu-index.png) no-repeat scroll center left}
				li#contact-nav{width:140px;background:transparent url(../../images/menu-contact.png) no-repeat scroll center left}
				li#about-nav{width:120px;background:transparent url(../../images/menu-aboutpng.png) no-repeat scroll center left;}
			}
		}
	}
	#intrologo {
	opacity: 1;	
	position:fixed;
	width:188px;
	height:188px;
	left:50%;
	top:50%;
	margin-left:-94px;
	margin-top:-100px;


	
		img {
			width:100%;
			height:100%;
		}
	}
	
	#intrologo, #thumb-chart, #loading.show, #loading, article, .hidden, #iv-wrapper,#iv-wrapper.closed, a, img, .playbutton, header, footer {
		@include transition-property(opacity);
	  	@include transition-duration($transitionSpeed); 
	}
}
.timeline-track {
	position:relative;
	background-color:#fff;
	height:1em;
	border:1px solid #fff;
	margin-left:1em;
	.timeline-thumb {
		position:absolute;
		width:0;
		top:0;
		left:0;
		height:100%;
		background-color:#000;
		border-left:1px solid #000;

	}
}
/* 





<div id='slider' class='swipe'>
  <div class='swipe-wrap'>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
 */