/*
Theme Name: Clean Portfolio MG
Theme URI: http://studiotriangular.se/
Description: Custom theme for Photographer Mikael Göthage. Designed by Conny Karlsson and coded by Mikael Biström
Author: Mikael Biström
Version: 1.0
License: GNU General Public License
License URI: license.txt
Tags: clean, white, portfolio
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,small,strong,ul,li{border:0;margin:0;padding:0}
body{line-height:1;background:#fff;overflow-y:scroll}
h1,h2,h3,h4,h5,h6{clear:both;font-weight:400}
ul{list-style:none}
a img{border:none}
a{text-decoration:none;font-family:inherit;color:#555}
*{cursor:url(./images/cur_normal.png), default}

#thumb-chart .thumbnail-image:hover img:hover{cursor:url(./images/cur_plus.png) 27 27, default}
.current-image:hover{cursor:url(./images/cur_minus.png) 27 0, default}
.next-image:hover{cursor:url(./images/cur_right.png),default}
.prev-image:hover{cursor:url(./images/cur_left.png),default}
p{font:normal normal normal 13px/16px Georgia, serif}
#header{position:fixed;left:3%;width:94%;top:00px;
	z-index:200;
	height:46px;
	background:transparent url(./images/header_b.gif) no-repeat scroll bottom right;
	
	display:block}
	#header:hover {cursor:url(./images/cur_up.png) 30 0, default}
	#header.no-pointer:hover, #footer.no-pointer:hover {cursor:url(./images/cur_normal.png), default}
#header #sub-logo{z-index:220;margin-top:30px;width:349px;height:16px;border-left:1px solid #000;border-right:1px solid #000;font:normal normal bold 14px/16px Arial, sans-serif;text-transform:uppercase;text-indent:-9999px;background:transparent url(./images/mg_photographs.png) no-repeat scroll top left}
#header #sub-logo a{width:100%;height:100%;display:block;overflow:hidden;position:relative}
/*
SETUP MAIN NAV */
#main-nav{width:378px;height:26px;
	padding-left:12px;margin-left:-12px;margin-right:12px;padding-right:12px;
	
	
}
#main-nav li#index-nav{width:114px;background:transparent url(./images/menu-index.png) no-repeat scroll center left}
#main-nav li#contact-nav{width:140px;background:transparent url(./images/menu-contact.png) no-repeat scroll center left}
#main-nav li#about-nav{width:120px;background:transparent url(./images/menu-aboutpng.png) no-repeat scroll center left;border-right:1px solid #000}
#main-nav li{display:block;float:left;text-indent:-9999px;height:16px;border-left:1px solid #000;padding-top:5px;padding-bottom:5px}
#main-nav li a{display:block;overflow:hidden;text-indent:-9999px;width:100%;height:100%}
#main-nav li .menu-box{display:block;opacity:0;background:transparent url(./images/white80_120h.png) repeat-x scroll top left}
#main-nav li.menu-li:hover .menu-box{
	
	display:block;
	opacity:1;
	width:402px;
	height:130px;
	margin-top:-154px;
	padding-top:10px;
	-webkit-transition:opacity 500ms ease-out;-moz-transition:opacity 500ms ease-out}
#main-nav li.menu-li .menu-box:hover{display:block;opacity:1;}

#main-nav li:hover .menu-box div {
}
#main-nav li .menu-box div{border-left:1px solid #000;
	padding-left:10px;
	text-indent:0;
	padding-top:4px;
	padding-bottom:6px;
	margin-left:10px;
	
	height:90px;
	padding-right:18px;
	
	height:100px; 
	overflow:hidden;
	position: absolute;
	width:348px;
}
#main-nav li#index-nav .menu-box{margin-left:-11px}
#main-nav li#contact-nav .menu-box{margin-left:-126px}
#main-nav li#about-nav .menu-box{margin-left:-267px}
#main-nav li .menu-box div ul strong{font:normal normal normal 13px/16px Georgia, serif;color:#000;margin-bottom:-16px;display:block}
#main-nav li .menu-box div ul li{border:0;margin-left:120px;text-indent:0;width:auto;display:block;float:none;padding-top:0;padding-bottom:0}
#main-nav li .menu-box div ul li a{color:#000;text-indent:0;font:italic normal normal 13px/16px Georgia, serif}
#main-nav li .menu-box div ul li a:hover{color:#555}

#main-nav li#contact-nav .menu-box div p a {text-indent:0; display:inline; color:black;}
#main-nav li#contact-nav .menu-box div p a:hover {color:#555;}
/*WRAPPER*/
#wrapper{width:95%;margin:0 auto; min-height:100%;height:100%; overflow:hidden;}
#content{width:102%;margin-left:-1%;margin-top:65px; margin-bottom:60px;}


.cat-holder{margin-left:30px;display:block;float:left}
.post{width:450px}
.thumbnail-image{float:left;margin-right:5px;margin-bottom:30px;opacity:0.3;-webkit-transition:opacity 500ms ease-out;-moz-transition:opacity 500ms ease-out}
.thumbnail-image.inactive {display:none;}
#iv-wrapper{display:none;width:96%;height:76%;opacity:0;top:10%;position:fixed;overflow:hidden;}
#iv-content{position:relative;width:9999px;height:100%;cursor:url(./images/cur_minus.png) 27 0, default}
#iv-content img{height:100%;margin-left:15px;float:left;opacity:0.3; display:block; }
#iv-content img.next-image,#iv-content img.prev-image{opacity:0.3;-webkit-transition:opacity 500ms ease-out;-moz-transition:opacity 500ms ease-out}
#footer{clear:both;position:fixed;
	height:62px;
	/* orig height : 62px; */
	
	
	bottom:0px;width:94%;
	
	left:3%}
	#footer:hover {cursor:url(./images/cur_down.png) 30 30, default
		}
#logobox{position:fixed;width:188px;height:188px;left:50%;top:50%;margin-left:-94px;margin-top:-100px}
#logobox.no-events{background:url(./images/logowhite.png);}
#logobox img{opacity:1;-webkit-transition:opacity 500ms ease-out;-moz-transition:opacity 500ms ease-out;display:none}
#logobox img:hover {
	opacity:0.8; 
	
}
#loading{position:fixed;width:188px;height:188px;left:50%;top:50%;margin-left:-94px;margin-top:-102px;display:none;opacity:0.3}
.text-left{text-align:left}
.text-right{text-align:right}
.float-left{float:left}
.float-right{float:right}
.add-space-right{margin-right:0}
.no-events{pointer-events:none}
.thumbnail-image:hover,#iv-content img.current-image,#iv-content img.next-image:hover,#iv-content img.prev-image:hover{opacity:1}


.photo_set_display {
	/*9display:none;*/
}
